# local resolver configuration - https://github.com/eclipxe13/captcha-local-resolver
CAPTCHA_LOCAL_RESOLVER_ENABLED="no"
CAPTCHA_LOCAL_RESOLVER_BASEURL="http://localhost:9095"

# Anti-captcha configuration - https://anti-captcha.com/
ANTI_CAPTCHA_ENABLED="no"
ANTI_CAPTCHA_CLIENT_KEY=""
